div(ng-controller='mainController as vm')
  script(type='text/ng-template', id='modal.html')
    .modal-header
      h3.modal-title.primary Aclaraciones
    .modal-body
      ul
        li La página fue hecha con intenciones de hacer algo divertido nada más, sin intentar faltar el respeto ni molestar a nadie. Tengo amigos chilenos y siempre me he reído con ellos del 'poh' así como de la contraparte argentina, el 'che'.
        li Espero que lo sepan entender y puedan reirse un poco como lo hice yo!!!
        hr
        li Las palabras que se agregan son totalmente aleatorias, puede ser que se agregue varias veces seguidas la misma.
        li Proximament vas a poder twittear la frase generada ;)
        li Si te gusto la página, compartila. <i>Podes twittearla directamente en el botón de abajo.</i> \o/
    .modal-footer
      button.btn.btn-success(type='button', ng-click='vm.ok()') OK