<!DOCTYPE html>
<html ng-app="funApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Fun app to swap the &quot;poh&quot; from chilenian expression with other Teletubbies names">
    <meta name="keywords" content="Chile, Teletubbies, Chiletubbies">
    <meta name="author" content="Christian Gill">
    <meta name="viewport" content="width=device-width" initial-scale="1" maximum-scale="1" user-scalable="no">
    <title>Chiletubbienator</title>
    <!-- bootstrap-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- custom css-->
    <link rel="stylesheet" href="app/style/style.css">
    <!-- fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic,300italic,300" rel="stylesheet" type="text/css">
    <!-- icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="mainController as vm" class="box-col">
    <header>
      <div class="logo"> <a href="#" class="title"> 
          <h1 class="h2">Chiletubbienator</h1></a></div>
    </header>
    <main>
      <div class="box-col col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Chiletubinea tus frases!</h2>
        <p>Por un Chile que no discrimine a los demás Teletubbies!  <i tooltip="Agrega el nombre de un Teletubbie en remplazo de las palabras 'po' o 'poh'" tooltip-placement="right" class="fa fa-question-circle fa-2x"></i></p><a href="#" ng-click="vm.openModal()">Aclaraciones <i class="fa fa-exclamation-triangle exclamation"></i></a>
        <hr>
        <form name="funForm" nonvalidate ng-submit="vm.newPhrase(funForm.$valid ,vm.str, &quot;success&quot;)">
          <div class="form-group">
            <input type="text" ng-model="vm.str" required class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" ng-disabled="stepThree.$invalid" class="btn btn-primary pull-right">Agregar</button>
          </div>
        </form>
        <hr>
        <alert ng-repeat="phrase in vm.activePhrases" type="{{phrase.type}}" close="vm.dismissPhrase($index)"> 
          <p>{{::phrase.msg | tubbinate}}</p>
          <p><i>({{::phrase.msg}})</i></p>
        </alert>
      </div>
      <div ng-controller="mainController as vm">
        <script type="text/ng-template" id="modal.html">
          <div class="modal-header">
            <h3 class="modal-title primary">Aclaraciones</h3>
          </div>
          <div class="modal-body">
            <ul>
              <li>La página fue hecha con intenciones de hacer algo divertido nada más, sin intentar faltar el respeto ni molestar a nadie. Tengo amigos chilenos y siempre me he reído con ellos del 'poh' así como de la contraparte argentina, el 'che'.</li>
              <li>Espero que lo sepan entender y puedan reirse un poco como lo hice yo!!!</li>
              <hr>
              <li>Las palabras que se agregan son totalmente aleatorias, puede ser que se agregue varias veces seguidas la misma.</li>
              <li>Proximament vas a poder twittear la frase generada ;)</li>
              <li>Si te gusto la página, compartila. <i>Podes twittearla directamente en el botón de abajo.</i> \o/</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="vm.ok()" class="btn btn-success">OK</button>
          </div>
        </script>
      </div>
    </main>
    <footer class="box-center-between-wrap">
      <div class="logo">
        <p class="quote">hecho por <a href="http://twitter.com/gillchristian" target="_blank" class="title"> @gillchristian </a> con <i class='fa fa-heart'></i> a mis amigos chilenos</p>
      </div>
      <div class="logo">
        <p><a href="https://twitter.com/share" data-text="Por un chile con mas Teletubbies!" data-via="gillchristian" data-hashtags="chiletubbienator" class="twitter-share-button">Tweet</a>
          <iframe src="https://ghbtns.com/github-btn.html?user=gillchristian&amp;repo=chiletubbienator&amp;type=fork&amp;count=false" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </p>
      </div>
    </footer>
    <!-- dependecies-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
    <!-- app scripts-->
    <script src="app/js/app.js"></script>
    <script src="app/js/mainCtrl.js"></script>
    <script src="app/js/tubbinator.js"></script>
    <!-- twitter script -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>