/* --- general layout --- */
body{
	min-height: 100vh;
}

main {
  flex: 1;
}

footer {
	min-height: 12%;
	width: 100%;
	bgc: $gray;
}

header {
	min-height: 17%;
	width: 100%;
	bgc: $font-primary;	
}

.logo {
	padding-left: 10px;
	margin-left: 10px;
}

.content-col {
	margin: 15px;
}